[submodule "ob-ipython"]
	path = ob-ipython
	url = https://github.com/jkitchin/ob-ipython.git
[submodule "scimax"]
	path = scimax
	url = https://github.com/jkitchin/scimax.git
[submodule "nord-emacs"]
	path = nord-emacs
	url = https://github.com/SirSharpest/nord-emacs.git
[submodule "ox-ipynb"]
	path = ox-ipynb
	url = https://github.com/jkitchin/ox-ipynb.git
